# Python
__pycache__/
app/api/routers/__init__.py
app/__init__.py
__init__.py
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.python-version

# Env & tooling
.venv/
env/
.terraform/
.pytest_cache/
.mypy_cache/

# OS
.DS_Store

# Local config/secrets
.env
*.local.json
